.crypto_currency_cards {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 18px;
    padding: 5% 0;
    width: 78%;
    margin: 0 auto;
}
.selected_curr {
    color: #7dacf3;
    font-weight: normal;
    padding-bottom: 40px;
}
.loader {
    height: 40vh;
}
@media screen and (max-width: 1010px) {
    .crypto_currency_cards{
        grid-template-columns: auto;
    }
}