.wrapper1 {
    width: 78%;
    margin: 0 auto;
}
.crypto_currency_cards {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 18px;
    padding: 10% 0 6%;
}
.selected_curr {
    color: #7dacf3;
    font-weight: normal;
    padding-bottom: 40px;
}
.btn {
    display: inline-block;
    color: #86c551;
    background-color: #0d2f52;
    vertical-align: middle;
    user-select: none;
    margin: 0 14px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@media screen and (max-width: 1010px) {
    .right{
        text-align: center;
        margin-left: 0;
    }
    .crypto_currency_cards{
        grid-template-columns: auto;
    }
}