.styledInput {
    border: 1px solid #7dacf3;
    background-color: transparent;
    color: #326f87;
    font-size: 22px;
    font-family: monospace;
    margin-left: 20px;
    width: 37%;
    margin-bottom: 40px;
}